.page {
    display: flex;
}
.page .left {margin-left: auto;}
.page .loginbtn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}
.page .loginbtn div {
    color: #5adaff;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 1px solid #5468ff;
  }