.underline {
    border:none;
    border-bottom: 1px solid black;
}
#loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#loginform * {
    font-size: 24px;
    padding: 0;
    margin: 0;
}
#loginform *:not(:first-child) {
    margin-top: 10px;
}
