.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.loginform * {
    font-size: 24px;
    padding: 0;
    margin: 0;
}
.loginform *:not(:first-child) {
    margin-top: 10px;
}
.underline {
    border:none;
    border-bottom: 1px solid black;
}